body{
    background-color: snow;
}
header{
    height: 250px;
    width: 100vw;
    text-align: center;
}
iframe{
    margin-left: 125px;
}
#data{
    font-size: 25px;
    width: 60vw;
    display: block;
}
Nav{
    font-size: 50px;
    display:flex;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
}
.tile{
    width: 75vw;
    height:350px;
}
h2{
    margin-bottom: 100px;
}
.form{
    margin-bottom: 25px;
}
form{
    margin-bottom: 100px;
    border: solid black 1px;
    height: 100px;
}