header {
  background-color: lightblue;
  grid-area: header;
}
main {
  background-color: pink;
  min-height: calc(100vh - 54px);
  grid-area: main;
}
nav {
display: grid;
grid-template-columns: 1 fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr
background-color: blue;

.button7 {
grid-column: 1/2;
grid-row: 1/2;}
.button8 {
grid-column: 2/3;
grid-row: 1/2;}
.button9 {
  grid-column: 3/4;
  grid-row: 1/2;}
.button4 {
  grid-column: 1/2;
  grid-row:2/3;}



}
aside {
  background-color: lightgreen;
  grid-area: aside;
}
.banner {
  background-color: blue;
  grid-area: banner;
  display: grid
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px 10px;
}
footer {
  background-color: khaki;
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "banner"
    "footer";
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "aside   main"
      "banner  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    main    aside"
      "nav    main    banner"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}